$mobile: 480px;
$desktop: 1024px;
$until-desktop: 1025px;
$large-desktop: 1440px;
/* ---------------------------------------- */

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin until-desktop {
  @media (min-width: $until-desktop) {
    @content;
  }
}
