// _colors.scss
$primary: #B88F2E;
$secondary: #fff3e3;
$product-background: #f5f5f6;
$product-overlay: #626362cc;
$explore-section-background: #FCF8F3;
$hover-elements: rgba(128, 128, 128, 0.096);

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --product-background: #{$product-background};
}
