@import './colors';

.explore-section {
    width: 100vw;
    height: 640px;
    background-color: $explore-section-background;
    margin-top: 150px;

    &__content {
        width: 100vw;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;

        &__text {
            padding-right: 100px;
            width: 458px;
            height: 96px;
            box-sizing: border-box;
            &__btn{
                background-color: $primary;
                border: none;
                color: white;
                padding: 7.5px 15px;
                cursor: pointer;
            }
        }
    }
}