@import "./colors";

.product-box {
  width: 285px;
  height: 446px;
  display: flex;
  flex-direction: column;
  background-color: $product-background;
  text-align: left;
  padding: 10px;

  .product-image {
    margin-bottom: 10px;
  }

  .product-title,
  .product-price,
  .product-description {
    margin: 0;
    padding: 0;
    margin-left: 20px;
  }

  .product-description {
    color: #898888;
  }
}
