.range-box {
  max-width: 1183px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.range-box-text {
  max-width: 559px;
  width: 100%;
  height: 76.71px;
  margin-bottom: 50px;
}
.range-box-text__info {
  text-align: center;
}

.room-box {
  max-width: 1150px;
  width: 100%;
  min-height: 546px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
  justify-content: center;
  text-align: center;
}

.room-box {
  @media (max-width: 1180px) {
    grid-template-columns: repeat(2, auto);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, auto);
  }
}
