@import '../../styles/colors.scss';

.slick-prev::before,
.slick-next::before {
    color: $primary !important;
    outline: none !important;
}


.slick-prev {
    left: 0px !important;
    z-index: 1;
}

.slick-next {
    right: 0px !important;
    z-index: 1;
}


.slick-dots li.slick-active button:before {
    color: $primary !important;
    opacity: 1 !important;
    font-size: 10px !important;
}

.slick-dots li button:before {
    font-size: 10px !important;
    opacity: 0.25 !important;
    color: $primary !important;
}